:root {
    --bg-color-main: #fff2e6;
    --bg-color-white: white;
    --text-color-white: white;
    --text-color-black: black;

    background-color: var(--bg-color-main);
    
}

body {
    background-color: var(--bg-color-main);
}

header, footer {
    background-color: var(--bg-color-white);
}

header {
    padding: 5px;
}

header .nav-item {

}

.header-desktop {
    display: none;
}


.header-responsive {
    display: contents;
}


.logo-text {
    margin-left: 20px;
}

.card.prod img {
    max-width: 1080px;
    max-height: 720px;

}


/*tablet*/
@media only screen and (min-width: 600px) {

}

/*Desktop*/
@media only screen and (min-width: 768px) {
    .header-desktop {
        display: contents;
    }

    .header-responsive {
        display: none;
    }
}
